{% extends 'layout.html.twig' %}
{% block indexScript %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script src="{{ asset('javascript/modal.js') }}"></script>
    <script src="{{ asset('javascript/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('javascript/carousel.js') }}"></script>
    <script src="{{ asset('javascript/chip.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container index-container">
        <section id="presentation">
            <div class="index-presentation ">
                <div class="row z-depth-2">
                    <div class="col s12 z-depth-1 center white-text  light-blue lighten-2">
                        <h1>Des milliers de produits et services, un seul site d'avis !</h1>
                        <div class="fb-like " data-href="http://www.ilenpensequoi.fr" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l6 ">
                        <div class="card horizontal index-cards card-inscription blue-grey lighten-5 z-depth-2">
                            <div class="card-image">
                                <img src="{{ asset('images/feedback-2073918_1920.jpg') }}" alt="feedback" class="img-feeadback">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content center">
                                    <h5>Partagez votre avis dès maintenant !</h5>
                                    <p>Inscrivez-vous et rejoignez notre communauté d'<span>aVicionados</span></p>
                                    <span class="index-explications"><a class="modal-trigger" href="#modal1">Comment ça marche <i class="tiny material-icons">help</i></a></span>
                                </div>

                                <div class="card-action center">
                                    <a class="waves-effect waves-light btn light-blue lighten-2 ">Inscription</a>
                                    <a class="card-a-connexion blue-text text-lighten-2">Connexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                        <div class="card horizontal index-cards card-categories blue-grey lighten-5 z-depth-2">
                            <div class="card-image">
                                <img src="{{ asset('images/hatena-1184896_1920.png') }}" alt="questions" class="img-questions">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content center">
                                    <h5>Besoin d'aide pour vous décider avant de faire une dépense ?</h5>
                                    <p>Recherchez parmis toutes les catégories déjà existentes</p>
                                    <i class="small material-icons light-blue-text text-lighten-2">arrow_downward</i>
                                </div>
                                <div class="card-action center">
                                    <a href="#" class="waves-effect waves-light btn light-blue lighten-2 ">Catégories</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal bottom-sheet">
                    <div class="modal-content">
                        <h5 class="center">Vous souhaitez donner votre avis sur un produit ou service</h5>
                        <p class="center"><a>Inscrivez-vous</a> ou <a>connectez vous</a></p>
                        <hr>
                        <div class="row">
                            <div class="col s6">
                                <h6 class="center light-blue-text text-lighten-1">Le produit/service n'existe pas encore</h6>
                                <ul class="center">
                                    <li>Rendez-vous dans la catégorie correspondante</li>
                                    <li>Cliquez sur le bouton "Ajouter" en haut de la page</li>
                                    <li>Remplissez le formulaire et validez le</li>
                                    <li>Nous vérifions qu'il n'existe pas déjà et le validons au plus vite</li>
                                    <li>Vous recevez un e-mail de confirmation</li>
                                </ul>
                            </div>
                            <div class="col s6">
                                <h6 class="center light-blue-text text-lighten-1">Le produit/service existe déjà</h6>
                                <ul class="center">
                                    <li>Accédez à sa fiche</li>
                                    <li>Laissez votre note et avis via le formulaire</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                    </div>
                </div>
                <div class="owl-carousel">

                    {% for smart in lastSmart %}
                    <a href="{{ path('view_one_smartphone', {'slug': smart.slug}) }}">
                    <div class="div-carousel blue-grey lighten-5 z-depth-2">
                        <img src="{{ asset('images/mobile-phone-2104312_1920.jpg') }}">
                        <div class="chip nb-avis light-blue lighten-2 white-text">
                            {{ smart.avis|length }} avis
                        </div>
                        <div class="chip carousel-categories blue-grey darken-3 white-text">
                            Smartphones
                        </div>

                        <div>
                            <h6 class="center">{{ smart.marque.marque }} - {{ smart.model }}</h6>
                            {% if smart.avis|length > 0 %}
                            <p class="center div-carousel-note">
                                    {% set note = smart.note / smart.avis|length %}
                                    {{ note|slice(0, 1) }} / 10
                            </p>
                            {% else %}
                                <p class="center div-carousel-note">Pas encore noté</p>
                            {% endif %}
                        </div>

                    </div>
                    </a>
                    {% endfor %}
                    {% for restau in lastRestau %}
                    <div class="div-carousel z-depth-2 blue-grey lighten-5">
                        <img src="{{ asset('images/place-setting-1056286_1920.jpg') }}">
                        <div class="chip nb-avis light-blue lighten-2 white-text">
                            {{ restau.avis|length }} avis
                        </div>
                        <div class="chip carousel-categories blue-grey darken-3 white-text">
                            Restaurants
                        </div>
                        <div>
                            <h6 class="center">{{ restau.nom }}</h6>
                            <p class="center">{{ restau.ville }} - {{ restau.cp }}</p>

                            <p class="center div-carousel-note">
                                {% if restau.avis|length > 0 %}
                                {{ restau.note }} - {{ restau.avis|length }} avis
                                {% else %}
                                Pas encore d'avis
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    {% for tab in lastTab %}
                        <div class="div-carousel z-depth-2 blue-grey lighten-5">
                            <img src="{{ asset('images/tablette.jpg') }}">
                            <div class="chip nb-avis light-blue lighten-2 white-text">
                                {{ tab.avis|length }} avis
                            </div>
                            <div class="chip carousel-categories blue-grey darken-3 white-text">
                                Tablettes
                            </div>
                            <div>
                                <h6 class="center">{{ tab.marque.marque }} - {{ tab.model }}</h6>
                                <p class="center div-carousel-note">
                                    {% if tab.avis|length > 0 %}
                                    {{ tab.note }} - {{ tab.avis|length }} avis
                                    {% else %}
                                        Pas encore d'avis
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    {% for info in lastInfo %}
                        <div class="div-carousel z-depth-2 blue-grey lighten-5">
                            <img src="{{ asset('images/computer-1245714_1920.jpg') }}">
                            <div class="chip nb-avis light-blue lighten-2 white-text">
                                {{ info.avis|length }} avis
                            </div>
                            <div class="chip carousel-categories blue-grey darken-3 white-text">
                                Informatique
                            </div>
                            <div>
                                <div class="chip categorie-info black white-text">
                                    {{ info.categorieInfo.categorie }}
                                </div>
                                <h6 class="center">{{ info.marque.marque }} - {{ info.model }}</h6>
                                <p class="center div-carousel-note">
                                    {% if info.avis|length > 0 %}
                                        {{ info.note }} - {{ info.avis|length }} avis
                                    {% else %}
                                        Pas encore d'avis
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
