<div class="row">
    <h2 class="center">Ajouter un produit informatique</h2>
    {{ form_start(form) }}

    <div>
        {{ form_label(form.categorieInfo) }}
        {{ form_widget(form.categorieInfo) }}
        {{ form_errors(form.categorieInfo) }}
    </div>
    <div>
        {{ form_label(form.marque) }}
        {{ form_widget(form.marque) }}
        {{ form_errors(form.marque) }}
    </div>
    <div class="input-field">
        {{ form_label(form.model) }}
        {{ form_widget(form.model) }}
        {{ form_errors(form.model) }}
    </div>
    <div class="center">
        {{ form_widget(form.valider) }}
    </div>
    {{ form_end(form) }}
</div>
